body {
    font-family: "Amatic SC", sans-serif;
    color: rgb(0,119,161);
    font-size: 25px;
    
}
h1{
    float: right;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    margin-right: 700px;
}
.logo{
    width:  200px;
    height: 100px;
}
h2{
    font-family: 'Amatic SC', cursive; ;
    margin-left: 25px;
    text-align: center;
    
}
.zdjeciecentralne{
    width: 450px;
    height: 300px;
    margin-left: 715px;
}
h3 {
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-size: 33px;
    
}
h4 {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    float:right;
    margin-right: 900px;
}
div.sectionContainer {
    display: flex;
    margin-right: 55vh;
}
div.sectionImage {
    max-width: 100%;
    flex: 1;
}
div.sectionImage > img {
    max-width: 100%;
    padding: 20px;
}
div.sectionContent {
    flex: 1;
    padding: 20px;
    text-align: center;
}
nav {
    background-color:rgba(182, 4, 4, 0.685) ;
    margin-right: 50vh;
    margin-left: 80vh;
    text-align: center;
    width: 346px;
    font-family: "Amatic SC", sans-serif;
    font-size: 25px;

}
a.menu {
    display: inline-block;
    width: 4px;
    padding: 10px 15vh;
    color:rgb(0, 0, 0) ;
    text-decoration: none;
    text-align: center;
    border: solid 3px rgb(0, 0, 0);
    width: 50px;
    
    

}
a.menu:hover {
    background-color: red;
}

.kierunek {
    text-align: center;
    margin-left: 0px;
    margin-top: 100px;
}

li {
list-style-type: none;
font-family: "Amatic SC", sans-serif;
font-size: xx-large;
}
.programista {

width: 100px;
height: 200px;
}

.esportfoto{
    width: 450px;
    height: 300px;
    margin-left: 715px;
    margin-top: 10vh;
}
html { 
    background: url(grey-gradient.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .nav2 {
    background-color:rgba(182, 4, 4, 0.685) ;
    margin-right: 50vh;
    margin-left: 80vh;
    text-align: center;
    width: 346px;
    font-family: "Amatic SC", sans-serif;
    font-size: 25px;
    height: 88vh;

}
